<header>
  <h1><LinkTo @route="application">Blog</LinkTo></h1>

  <div>
    <div class="switch-users">
      {{#each this.users as |user|}}
        <button type="button" {{on "click" (fn this.switchUser user)}}>{{user.givenName}}</button>
      {{/each}}
    </div>

    <span>
      User:
      {{this.user.currentUser.givenName}}
    </span>
  </div>
</header>

{{outlet}}