# This workflow is largely based on
# https://github.com/salsify/ember-css-modules/blob/master/.github/workflows/ci.yml

name: CI

on:
  pull_request:
  push:
    # filtering branches here prevents duplicate builds from pull_request and push
    branches:
      - main
      - "v*"
    # always run CI for tags
    tags:
      - "*"

  # early issue detection: run CI weekly on Sundays
  schedule:
    - cron: "0 6 * * 0"

env:
  CI: true

jobs:
  lint-js:
    name: lint:js
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: wyvox/action@v1
      - name: Build
        run: pnpm -r --parallel --aggregate-output run build
      - run: pnpm run -r --parallel --aggregate-output lint:js

  lint-hbs:
    name: lint:hbs
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: wyvox/action@v1
      - name: Build
        run: pnpm -r --parallel --aggregate-output run build
      - run: pnpm run -r --parallel --aggregate-output lint:hbs

  lint-types:
    name: lint:types
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: wyvox/action@v1
      - name: Build
        run: pnpm -r --parallel --aggregate-output run build
      - run: pnpm run -r --parallel --aggregate-output lint:types

  test-locked-deps:
    name: Locked Deps
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: wyvox/action@v1
      - name: Build package
        run: pnpm --filter ember-ability build
      - name: Pnpm Sync Injected Deps
        run: pnpm --filter test-app _syncPnpm
      - name: Tests
        run: pnpm run -r --parallel --aggregate-output test

  test-floating-deps:
    name: Floating Deps
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: wyvox/action@v1
        with:
          pnpm-args: --no-frozen-lockfile
      - name: Build package
        run: pnpm --filter ember-ability build
      - name: Pnpm Sync Injected Deps
        run: pnpm --filter test-app _syncPnpm
      - name: Tests
        run: pnpm run -r --parallel --aggregate-output test

  test-try:
    name: Ember Try
    runs-on: ubuntu-24.04
    needs: [test-locked-deps]

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-3.28
          - ember-4.4
          - ember-4.8
          - ember-4.12
          - ember-release
          - ember-beta
          - ember-canary
          - embroider-safe
          - embroider-optimized
    steps:
      - name: Setup
        uses: wyvox/action@v1
      - name: Build package
        run: pnpm --filter ember-ability build
      - name: Pnpm Sync Injected Deps
        run: pnpm --filter test-app _syncPnpm
      - name: Try Scenario
        run: pnpm exec ember try:one ${{ matrix.try-scenario }} --skip-cleanup
        working-directory: test-app
